BINANCE_ACCOUNT_1_NAME=cuenta_principal
BINANCE_ACCOUNT_1_API_KEY=tu_api_key_aqui
BINANCE_ACCOUNT_1_SECRET=tu_secret_aqui

BINANCE_ACCOUNT_2_NAME=cuenta_amigo
BINANCE_ACCOUNT_2_API_KEY=tu_api_key_aqui
BINANCE_ACCOUNT_2_SECRET=tu_secret_aqui

KRAKEN_ACCOUNT_1_NAME=cuenta_principal
KRAKEN_ACCOUNT_1_API_KEY=tu_api_key_aqui
KRAKEN_ACCOUNT_1_SECRET=tu_secret_aqui

KRAKEN_ACCOUNT_2_NAME=cuenta_amigo
KRAKEN_ACCOUNT_2_API_KEY=tu_api_key_aqui
KRAKEN_ACCOUNT_2_SECRET=tu_secret_aqui

TELEGRAM_BOT_TOKEN=tu_bot_token
TELEGRAM_CHAT_ID=tu_chat_id
NEWS_API_KEY=tu_news_api_key
